body {
  margin: 0%;
}

/*Intestazione*/
#main-container {
  height: 100px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 400px;
}

#logo {
  height: 50px;
  width: auto;
  margin-top: 38px;
}

/*Main*/
h1 {
  font-size: 38px;
  margin-bottom: 0%;
}

address {
  font-style: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #1abced;
}

.class-small {
  font-size: small;
}

figure {
  margin: 10px;
}

ul {
  padding-inline-start: 3px;
  list-style-position: inside;
}

/*Tabella*/
table {
  border-collapse: collapse;
}

.wt-50 {
  width: 50%;
}

.bc-white {
  background-color: #fff;
}


th {
  text-align: left;
  background-color: #1faae5;
  color: #fff;
}

tr {
  background-color: #b1e6f2;
}