body {
  margin: 0%;
}

#main-container {
  height: 100px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 315px;
}

img {
  height: 50px;
  width: auto;
  margin-top: 40px;
}